<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Library</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-xs-5">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </div>
                <!-- <div class="col-xs-7">
                <form action="/searchresults" method="GET" class="navbar-right" role="search" style="margin-top: 3%">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." name="search">
                        <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </form>
                </div> -->
            </div>
            <!-- /.navbar-header -->
        </div>
        <!-- /.container -->
    </nav>
    <section>
        <%- body -%>
    </section>
</body>

</html>
